*.py[co]

# Packages
*.egg
*.egg-info
.python-version
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.sqlite
.vscode

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations

#Mr Developer
.mr.developer.cfg

#Temporary files
*~

#PyCharm project
.idea

#Virtualenv
venv

*.swp
*.swo
*.orig
