include *.txt
include README.rst
include AUTHORS
include CHANGELOG
recursive-include plans/templates *
recursive-include plans/fixtures *
recursive-include plans/locale *
recursive-include plans/templates *