{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>user_plan</title>
</head>
<body>



<ul>
        <li>{% trans "Account" %}: {{ user }}
  

        <li>{% trans "State" %}: {% if userplan.active %} {% trans "active" %} {% else %} {% trans "expired" %} {% endif %}
        <li>{% trans "Expire" %}: {{ userplan.expire }} <a href="{% url extend_plan %}">{% trans "extend" %}</a>
        <li>{% trans "Plan" %}: {{ userplan.plan.name }} 
                 
                <a href="{% url upgrade_plan %}">{% trans "upgrade" %}</a>
        <li>{% trans "Quotas" %}: 
                <ul> 
                        {% for quota in quotas %}
                        <li> {{ quota.quota.name }} ({{ quota.quota.description }}) - 
                        
                        {% if quota.quota.is_boolean %}

                                {% if quota.value %} {% trans "yes" %} {% else %} {% trans "no" %} {% endif %}
                        
                        {% else %}
                                {{ quota.value }} {{ quota.quota.unit }}
                        {% endif %}
                        
                        {% endfor %}
                    
                        
                </ul>
</ul>



</body>
</html>
