{% extends 'plans/base.html' %}

{% load i18n %}

{% block seo_title %}user_plan{% endblock %}

{% block body %}
<ul>
  <li>{% trans "Account" %}: {{ user }}


  <li>{% trans "State" %}: {% if userplan.active %} {% trans "active" %} {% else %} {% trans "expired" %} {% endif %}
  <li>{% trans "Expire" %}: {{ userplan.expire }}
  <li>{% trans "Plan" %}: {{ userplan.plan.name }}
    <a href="{% url upgrade_plan %}">{% trans "upgrade" %}</a>
</ul>

{% include "plans/plan_table.html" %}

{% endblock %}
