{% load i18n %}

{% block 'table' %}
<table class="table">
    <thead>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Net price" %}</th>
    <th>{% trans "VAT" %}</th>
    <th>{% trans "VAT total" %}</th>
    <th>{% trans "Total" %}</th>
    <th>{% trans "Order completed" %}</th>
    {% if order.user %}
    <th>{% trans "Plan valid from" %}</th>
    <th>{% trans "Plan valid until" %}</th>
    {% endif %}
    </thead>
    <tbody>
    <td>{{ order.name }}</td>
    <td>{{ order.amount }} {{ order.currency }}</td>
    <td>{% if order.tax == None %}n/a{% else %}{{ order.tax }} %{% endif %}</td>
    <td>{% if order.tax_total == None %}n/a{% else %}{{ order.tax_total }} {{ order.currency }}{% endif %}</td>
    <td class="number total">{{ order.total }} {{ order.currency }}</td>
    <td class="date">{{ order.completed|date|default:"-" }}</td>
    <td class="date">{{ order.get_plan_extended_from|date|default:"-" }}</td>
    <td class="date">{{ order.get_plan_extended_until|date|default:"-" }}</td>
    </tbody>
</table>
{% endblock %}

{% if order.tax == None %}
    <h2>{% trans "EU VAT" %}</h2>
    <div class="alert alert-info">
        {% blocktrans %}
            VAT is not applied to order.
        {% endblocktrans %}
    </div>
{% endif %}
