{% extends 'plans/base.html' %}

{% load i18n %}
{% block seo_title %}user_plan{% endblock %}

{% block body %}

<ul>

        {% for plan in plans %}

        <li>{% trans "Plan" %}: {{ plan.plan.name }} 
                
        <ul>
                <li>{% trans "Description" %}: {{ plan.plan.description }} 

                <li>{% trans "Quotas" %}: 
                        <ul> 
                                {% for quota in plan.quotas %}
                                <li> {{ quota.quota.name }} ({{ quota.quota.description }}) - 
                        
                                {% if quota.quota.is_boolean %}

                                        {% if quota.value %} {% trans "yes" %} {% else %} {% trans "no" %} {% endif %}
                        
                                {% else %}
                                        {{ quota.value }} {{ quota.quota.unit }}
                                {% endif %}
                                {% endfor %}
                        </ul>


                <li>{% trans "Pricings" %}:
                        <ul>
                                {% for pricing in plan.pricings %}
                                        <li>    
                                                <a href=""> {{ pricing.pricing.name }} ({{ pricing.pricing.period }} {% trans "days" %} ): 
                                                        {{ pricing.price}}
                                                </a>
                                {% endfor %}
                        </ul>        
                
        </ul>
        {% endfor %}
</ul>

{% endblock %}
